@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject HttpClient Http
@inject CommonService CommonService

@if (cultures != null && dicTranslated != null)
{
<form class="form-inline">
    <select class="form-control mr-2" @onchange="RequestCultureChange">
        @foreach (var culture in cultures)
        {
            if (CommonService.selectedCulture.Equals(@culture.Key))
            {
                <option value="@culture.Key" selected>@dicTranslated[culture.Value]</option>
            }
            else
            {
                <option value="@culture.Key">@dicTranslated[culture.Value]</option>
            }
        }
    </select>
</form>
}
else { 
    <LoadingSpinner/>
}
@code { 

    private Dictionary<string, string> cultures;
    private Dictionary<string, string> dicTranslated;

    protected override async Task OnInitializedAsync()
    {
        cultures = Configuration.GetSection("Cultures")
           .GetChildren().ToDictionary(x => x.Key, x => x.Value);

        var query = $"?culture={Uri.EscapeDataString(CommonService.selectedCulture)}&";
        dicTranslated = await Http.GetJsonAsync<Dictionary<string, string>>(NavigationManager.Uri
            + "api/Translate/GetTranslatedDictionary" + query);
    }

    protected void RequestCultureChange(ChangeEventArgs e)
    {
        CommonService.selectedCulture = e.Value.ToString();

        var uri = new Uri(NavigationManager.Uri)
        .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);

        var query = $"?culture={Uri.EscapeDataString(CommonService.selectedCulture)}&"
            + $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/api/Culture/SetCulture" + query, forceLoad: true);
    }
}